# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\Nutzer\AppData\Roaming\JetBrains\DataGrip2021.1\projects\Mietwagenvverleih\.idea/dataSources/
/dataSources.local.xml
